<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>TitleKey</key>
		<string>Dashboard</string>
		<key>storyboardID</key>
		<string>SideMenuDemo</string>
		<key>viewControllerName</key>
		<string>SideMenuDemoVC</string>
		<key>Image</key>
		<string>num_0</string>
	</dict>
	<dict>
		<key>TitleKey</key>
		<string>Hello World</string>
		<key>storyboardID</key>
		<string>HelloWorld</string>
		<key>viewControllerName</key>
		<string>HelloVC</string>
		<key>Image</key>
		<string>num_1</string>
	</dict>
	<dict>
		<key>TitleKey</key>
		<string>Screen 1</string>
		<key>storyboardID</key>
		<string>Screen1</string>
		<key>viewControllerName</key>
		<string>Screen1VC</string>
		<key>Image</key>
		<string>num_2</string>
	</dict>
	<dict>
		<key>TitleKey</key>
		<string>Screen 2</string>
		<key>storyboardID</key>
		<string>Screen2</string>
		<key>viewControllerName</key>
		<string>Screen2VC</string>
		<key>Image</key>
		<string>num_3</string>
	</dict>
	<dict>
		<key>TitleKey</key>
		<string>Screen 3</string>
		<key>storyboardID</key>
		<string>Screen3</string>
		<key>viewControllerName</key>
		<string>Screen3VC</string>
		<key>Image</key>
		<string>num_4</string>
	</dict>
	<dict>
		<key>TitleKey</key>
		<string>Color Change</string>
		<key>storyboardID</key>
		<string>ColorChange</string>
		<key>viewControllerName</key>
		<string>ColorChangeVC</string>
		<key>Image</key>
		<string>num_5</string>
	</dict>
	<dict>
		<key>TitleKey</key>
		<string>Dashboard</string>
		<key>storyboardID</key>
		<string>SideMenu</string>
		<key>viewControllerName</key>
		<string>SideMenuVC</string>
		<key>Image</key>
		<string>Logo</string>
	</dict>
	<dict>
		<key>TitleKey</key>
		<string>Dashboard</string>
		<key>storyboardID</key>
		<string>SideMenu</string>
		<key>viewControllerName</key>
		<string>SideMenuVC</string>
		<key>Image</key>
		<string>Logo</string>
	</dict>
	<dict>
		<key>TitleKey</key>
		<string>Dashboard</string>
		<key>storyboardID</key>
		<string>SideMenu</string>
		<key>viewControllerName</key>
		<string>SideMenuVC</string>
		<key>Image</key>
		<string>Logo</string>
	</dict>
	<dict>
		<key>TitleKey</key>
		<string>Dashboard</string>
		<key>storyboardID</key>
		<string>SideMenu</string>
		<key>viewControllerName</key>
		<string>SideMenuVC</string>
		<key>Image</key>
		<string>Logo</string>
	</dict>
	<dict>
		<key>TitleKey</key>
		<string>Dashboard</string>
		<key>storyboardID</key>
		<string>SideMenu</string>
		<key>viewControllerName</key>
		<string>SideMenuVC</string>
		<key>Image</key>
		<string>Logo</string>
	</dict>
	<dict>
		<key>TitleKey</key>
		<string>Dashboard</string>
		<key>storyboardID</key>
		<string>SideMenu</string>
		<key>viewControllerName</key>
		<string>SideMenuVC</string>
		<key>Image</key>
		<string>Logo</string>
	</dict>
	<dict>
		<key>TitleKey</key>
		<string>Dashboard</string>
		<key>storyboardID</key>
		<string>SideMenu</string>
		<key>viewControllerName</key>
		<string>SideMenuVC</string>
		<key>Image</key>
		<string>Logo</string>
	</dict>
	<dict>
		<key>TitleKey</key>
		<string>Dashboard</string>
		<key>storyboardID</key>
		<string>SideMenu</string>
		<key>viewControllerName</key>
		<string>SideMenuVC</string>
		<key>Image</key>
		<string>Logo</string>
	</dict>
	<dict>
		<key>TitleKey</key>
		<string>Dashboard</string>
		<key>storyboardID</key>
		<string>SideMenu</string>
		<key>viewControllerName</key>
		<string>SideMenuVC</string>
		<key>Image</key>
		<string>Logo</string>
	</dict>
	<dict>
		<key>TitleKey</key>
		<string>Dashboard</string>
		<key>storyboardID</key>
		<string>SideMenu</string>
		<key>viewControllerName</key>
		<string>SideMenuVC</string>
		<key>Image</key>
		<string>Logo</string>
	</dict>
	<dict>
		<key>TitleKey</key>
		<string>Dashboard</string>
		<key>storyboardID</key>
		<string>SideMenu</string>
		<key>viewControllerName</key>
		<string>SideMenuVC</string>
		<key>Image</key>
		<string>Logo</string>
	</dict>
	<dict>
		<key>TitleKey</key>
		<string>Dashboard</string>
		<key>storyboardID</key>
		<string>SideMenu</string>
		<key>viewControllerName</key>
		<string>SideMenuVC</string>
		<key>Image</key>
		<string>Logo</string>
	</dict>
</array>
</plist>
